Repository tensorchord/envd, pull requests merged in 2022-10, with the labels that each got.

#962 fix(ir): `apt install` and `conda env create` cache
  pkg/lang/ir/conda.go
  pkg/lang/ir/system.go
Labels: lgtm, approved

#933 refact: conda/mamba create/update env, fix user permissions
  pkg/lang/frontend/starlark/install/install.go
  pkg/lang/ir/compile.go
  pkg/lang/ir/conda.go
  pkg/lang/ir/fs.go
  pkg/lang/ir/git.go
  pkg/lang/ir/install-mamba.sh
  pkg/lang/ir/interface.go
  pkg/lang/ir/python.go
  pkg/lang/ir/shell.go
  pkg/lang/ir/system.go
  pkg/lang/ir/types.go
  pkg/lang/ir/user.go
  pkg/types/envd.go
Labels: lgtm, approved

#961 feat(CLI): Support runner in context
  e2e/cli/context_test.go
  pkg/app/bootstrap.go
  pkg/app/context_create.go
  pkg/app/context_ls.go
  pkg/app/prune.go
  pkg/builder/builder.go
  pkg/home/context.go
  pkg/home/context_test.go
  pkg/home/manager.go
  pkg/home/manager_test.go
  pkg/types/envd.go
Labels: lgtm, approved

#970 fix(ir): make sure default value won't be replaced with empty value
  pkg/lang/frontend/starlark/install/install.go
  pkg/lang/frontend/starlark/universe/universe.go
  pkg/lang/ir/compile.go
  pkg/lang/ir/consts.go
  pkg/lang/ir/interface.go
Labels: lgtm, approved

#980 *: upgrade golangci-linter and add noloopclosure
  .github/workflows/CI.yml
  .golangci.yml
Labels: lgtm, approved

#979 Chore(test): Add test cases for pkg/util/starlarkutil
  pkg/util/starlarkutil/stringslice_test.go
Labels: lgtm

#982 fix: Remove dump checkout and remove pre-commit
  .github/workflows/CI.yml
  .golangci.yml
  pkg/builder/builder.go
  pkg/builder/util_test.go
  pkg/editor/vscode/vscode_test.go
  pkg/lang/ir/conda.go
  pkg/lang/ir/custom.go
  pkg/lang/ir/editor.go
  pkg/lang/ir/fs.go
  pkg/lang/ir/system.go
  pkg/metrics/helper.go
  pkg/progress/progressui/display.go
  pkg/remote/sshd/sshd.go
  pkg/ssh/config/ssh_config.go
Labels: approved

#985 chore: Split cache build
  .github/workflows/release.yml
  base-images/remote-cache/build-and-push-remote-cache.sh
Labels: approved

#959 bug: fix pypi package information
  pkg/types/envd.go
  pkg/types/envd_test.go
  pkg/types/label.go
  pkg/types/types_suite_test.go
Labels: lgtm, approved

#990 docs: add star history chart to README
  README.md
Labels: lgtm

#992 feat: Support cli argument for host key
  cmd/envd-sshd/main.go
  pkg/app/ssh.go
  pkg/remote/sshd/sshd.go
  pkg/ssh/ssh.go
Labels: lgtm, approved

#995 chore: update deprecated function and lint
  cmd/envd-sshd/main.go
  e2e/docs/docs_test.go
  pkg/app/bootstrap.go
  pkg/app/init.go
  pkg/app/login.go
  pkg/lang/frontend/starlark/interpreter.go
  pkg/remote/sshd/sshd.go
  pkg/ssh/ssh.go
Labels: lgtm, approved

#989 feat(build): detect if the current environment is running before building (#892)
  pkg/app/build.go
  pkg/app/up.go
  pkg/envd/docker.go
Labels: lgtm, approved

#1000 fix: Remove hard code docker in envd engine init
  e2e/e2e_helper.go
  pkg/app/build.go
  pkg/app/destroy.go
  pkg/app/env.go
  pkg/app/env_describe.go
  pkg/app/image.go
  pkg/app/image_describe.go
  pkg/app/pause.go
  pkg/app/resume.go
  pkg/app/run.go
  pkg/app/top.go
  pkg/app/up.go
  pkg/app/version.go
  pkg/buildkitd/buildkitd.go
  pkg/envd/factory.go
Labels: lgtm, approved

#303 feat: Add envd-server runtime proposal
  docs/proposals/20220603-kubernetes-vendor.md
Labels: approved

#1009 chore(test): Add test cases for pkg/home/auth.go
  pkg/home/auth_test.go
Labels: lgtm, approved

#1007 feat(cli): add `envd images remove` command
  pkg/app/image.go
  pkg/app/image_remove.go
Labels: lgtm, approved

#1015 fix(CLI): Fix a typo
  pkg/app/bootstrap.go
Labels: lgtm

#1020 feat(context): Get ssh hostname from context, instead of hard-coded string
  docs/proposals/20220603-kubernetes-vendor.md
  pkg/app/create.go
  pkg/app/up.go
  pkg/envd/factory.go
  pkg/ssh/ssh.go
  pkg/types/envd.go
  pkg/util/netutil/netutil.go
  pkg/util/netutil/netutil_test.go
Labels: lgtm, approved

#1023 fix: Add two debug logs
  pkg/app/up.go
  pkg/builder/builder.go
Labels: lgtm, approved

#1024 bug: Fix install from source will lose version information
  .gitignore
  MANIFEST.in
  Makefile
  setup.py
Labels: approved

#1008 bug: fix explicit channel setting with conda env.yaml
  e2e/language/python_test.go
  e2e/language/testdata/python/conda_channel/build.envd
  e2e/language/testdata/python/conda_channel/env.yaml
  pkg/lang/ir/conda.go
Labels: lgtm, approved

#1034 bug: Fix flaky auth test
  pkg/home/auth_test.go
Labels: lgtm, approved

#1041 chore: pre init envd config and cache dir
  pkg/lang/ir/user.go
Labels: lgtm, approved

#1044 chore: Regroup run command
  pkg/lang/ir/compile.go
  pkg/lang/ir/interface.go
  pkg/lang/ir/system.go
  pkg/lang/ir/types.go
  pkg/ssh/ssh.go
Labels: lgtm, approved

#1047 feat: add `envd down` as an alias for `envd destroy`
  pkg/app/destroy.go
Labels: lgtm

#1048 chroe: make python package after apt package
  pkg/lang/ir/python.go
Labels: approved

#1052 feat: Update env client to support multiple envs
  go.mod
  go.sum
  pkg/app/create.go
  pkg/envd/envdserver.go
  pkg/ssh/ssh.go
  pkg/types/envd.go
Labels: approved

#1051 feat: use horust as the dev container supervisor
  pkg/lang/ir/compile.go
  pkg/lang/ir/editor.go
  pkg/lang/ir/shell.go
  pkg/lang/ir/supervisor.go
  pkg/lang/ir/system.go
  pkg/lang/ir/user.go
  pkg/types/envd.go
Labels: lgtm, approved

#1064 bug: fix install from pypi source release
  Makefile
  setup.py
Labels: lgtm, approved

#1050 chore(CLI): Move destroy logic from docker to envd engine.
  e2e/cli/build_test.go
  e2e/cli/up_test.go
  pkg/app/destroy.go
  pkg/docker/docker.go
  pkg/envd/docker.go
  pkg/envd/engine.go
  pkg/envd/envdserver.go
Labels: lgtm

#1068 bug: Fix sdist didn't include go files
  setup.py
Labels: lgtm, approved

#1014 feat: Support forward
  examples/python-basic/build.envd
  go.mod
  go.sum
  pkg/app/create.go
  pkg/envd/envdserver.go
  pkg/envd/types.go
  pkg/lang/ir/compile.go
  pkg/lang/ir/supervisor.go
  pkg/ssh/ssh.go
  pkg/types/label.go
Labels: approved

#1087 feat(CLI): Support envd-server in up command
  pkg/app/up.go
  pkg/envd/docker.go
  pkg/envd/engine.go
  pkg/envd/envdserver.go
  pkg/envd/types.go
Labels: approved

#1088 chore: Refactor the IR
  pkg/lang/ir/compile.go
  pkg/lang/ir/julia.go
  pkg/lang/ir/python.go
  pkg/lang/ir/r.go
  pkg/lang/ir/supervisor.go
  pkg/lang/ir/system.go
Labels: approved

#1092 fix:#1090
  README.md
Labels: lgtm, approved

#1089 feat: enable convenient vscode debugging
  .gitignore
  .vscode/launch.json
  Makefile
Labels: lgtm, approved

#1085 feature: support runtime init script
  envd/api/runtime/__init__.py
  examples/dpgen2/build.envd
  examples/include_pkg/build.envd
  pkg/lang/frontend/starlark/runtime/const.go
  pkg/lang/frontend/starlark/runtime/runtime.go
  pkg/lang/ir/interface.go
  pkg/lang/ir/supervisor.go
  pkg/lang/ir/types.go
  pkg/types/envd.go
Labels: lgtm, approved

#1096 feat: support envd server destroy env
  pkg/app/destroy.go
  pkg/envd/docker.go
  pkg/envd/envdserver.go
  pkg/lang/ir/supervisor.go
  pkg/lang/ir/system.go
Labels: lgtm, approved

#1100 fix(CLI): Fix format for app
  pkg/app/app.go
Labels: lgtm, approved

#1101 feat: add config.repo in envd
  envd/api/config/__init__.py
  pkg/lang/frontend/starlark/config/config.go
  pkg/lang/frontend/starlark/config/const.go
  pkg/lang/ir/compile.go
  pkg/lang/ir/interface.go
  pkg/lang/ir/types.go
  pkg/types/envd.go
  pkg/types/label.go
Labels: lgtm, approved

#1104 fix: cycle import detection in the interpreter
  pkg/lang/frontend/starlark/interpreter.go
Labels: lgtm, approved

#1106 fix: auth with the same name
  pkg/home/auth.go
Labels: lgtm, approved

#1109 feat: support build time run without mount host
  envd/api/__init__.py
  pkg/lang/frontend/starlark/universe/universe.go
  pkg/lang/ir/compile.go
  pkg/lang/ir/interface.go
  pkg/lang/ir/system.go
  pkg/lang/ir/types.go
Labels: approved

#1110 feat: Add listening_addr to expose fun
  pkg/envd/docker.go
  pkg/lang/frontend/starlark/runtime/runtime.go
  pkg/lang/ir/interface.go
  pkg/lang/ir/types.go
Labels: approved

#1113 feat: Add telemetry with the help of segment.io
  go.mod
  go.sum
  pkg/app/app.go
  pkg/app/build.go
  pkg/app/destroy.go
  pkg/app/env_ls.go
  pkg/app/image_prune.go
  pkg/app/telemetry/reporter.go
  pkg/app/top.go
  pkg/app/up.go
  pkg/flag/consts.go
Labels: approved

#1116 fix: Disable telemetry in CI
  .github/workflows/CI.yml
  .github/workflows/nightly.yml
  pkg/app/app.go
  pkg/app/telemetry/reporter.go
Labels: approved

#1124 feat(debug): Add llb export
  pkg/app/app.go
  pkg/app/debug.go
  pkg/app/debug_llb.go
  pkg/app/telemetry/reporter.go
  pkg/builder/builder.go
Labels: approved

#1125 fix: Remove cwd in conda to enable remote cache
  pkg/lang/ir/conda.go
  pkg/lang/ir/python.go
Labels: lgtm, approved

#1122 feat: record cmd duration in telemetry
  pkg/app/build.go
  pkg/app/destroy.go
  pkg/app/env_ls.go
  pkg/app/image_prune.go
  pkg/app/telemetry/reporter.go
  pkg/app/top.go
  pkg/app/up.go
Labels: lgtm, approved

#1126 fix: Fix the order to make conda cache always work
  pkg/lang/ir/conda.go
  pkg/lang/ir/interface.go
  pkg/lang/ir/julia.go
  pkg/lang/ir/python.go
  pkg/lang/ir/r.go
  pkg/lang/ir/shell.go
  pkg/lang/ir/system.go
Labels: lgtm, approved
