Repository tensorchord/envd, pull requests merged in 2022-11, with the labels that each got.

#1129 fix: Fix zsh tab issue
  pkg/app/debug_llb.go
  pkg/builder/util.go
  pkg/lang/ir/system.go
  pkg/types/envd.go
Labels: lgtm, approved

#1128 feat: expose support listen addr
  pkg/app/create.go
  pkg/app/up.go
  pkg/envd/docker.go
  pkg/envd/types.go
  pkg/types/envd.go
Labels: approved

#1130 docs: add api docs for expose
  envd/api/runtime/__init__.py
Labels: lgtm, approved

#1136 feat(cli): Add alias rm to envd image remove
  pkg/app/image_remove.go
Labels: lgtm, approved

#1141 chore: update cuda & cudnn version
  base-images/remote-cache/build.envd
  e2e/docs/testdata/complex/build.envd
  envd/api/install/__init__.py
  examples/conda/build.envd
  examples/dgl/build.envd
  examples/mnist/build.envd
  examples/pytorch-profiler/build.envd
  examples/stable-diffusion/build.envd
Labels: approved

#1134 Bug/add support for wsl2
  pkg/envd/docker.go
Labels: lgtm, approved

#1135 feat: add environment name as label
  pkg/lang/ir/compile.go
  pkg/types/label.go
Labels: approved

#1148 feat: Fetch base image metadata
  go.mod
  go.sum
  pkg/builder/util.go
  pkg/lang/ir/compile.go
  pkg/lang/ir/custom.go
  pkg/lang/ir/system.go
  pkg/types/envd.go
Labels: lgtm, approved

#1151 fix: horust cache
  pkg/lang/ir/supervisor.go
Labels: lgtm, approved

#1153 fix: pre mkdir for runtime mount
  pkg/lang/ir/compile.go
  pkg/lang/ir/supervisor.go
  pkg/lang/ir/system.go
Labels: lgtm

#1156 fix: cuda tag in image cache
  .github/workflows/release.yml
  base-images/remote-cache/build-and-push-remote-cache.sh
Labels: approved

#1158 chore: update envd cat wink to svg light/dark mode
  README.md
Labels: approved

#1159 chore: update envd explain light/dark mode
  README.md
Labels: lgtm

#1150 feat: support envd-server image
  go.mod
  go.sum
  pkg/app/image.go
  pkg/envd/docker.go
  pkg/envd/engine.go
  pkg/envd/envdserver.go
  pkg/types/envd.go
Labels: lgtm, approved

#1155 ci: add auto release and changelog
  .github/workflows/release.yml
  .goreleaser.yaml
Labels: approved

#1170 fix stable diffusion demo via b/c huggingface api change
  examples/stable-diffusion/build.envd
  examples/stable-diffusion/main.py
Labels: approved

#1172 refact: move env to server
  go.mod
  go.sum
  pkg/app/env_ls.go
  pkg/types/envd.go
Labels: lgtm, approved

#1173 fix: Move user to image config
  pkg/builder/util.go
  pkg/envd/docker.go
Labels: approved

#1174 fix: pre-create the workdir
  pkg/lang/ir/system.go
Labels: lgtm, approved

#887 chore: optimized the cache mechanism
  pkg/builder/builder.go
  pkg/lang/ir/util.go
Labels: approved

#1185 fix: daemon command
  README.md
  pkg/lang/ir/supervisor.go
Labels: approved

#1192 chore: run as 1000:1000 for image cache
  .github/workflows/release.yml
Labels: lgtm

#1196 test: readme envdlib
  e2e/docs/docs_test.go
  e2e/docs/testdata/envdlib/build.envd
Labels: lgtm, approved, do-not-merge/hold

#1208 fix: only mkdir /home/envd/* when image==nil
  pkg/lang/ir/custom.go
  pkg/lang/ir/system.go
Labels: lgtm

#1236 chore: Support arm macOS build
  .github/workflows/release.yml
  .goreleaser.yaml
Labels: lgtm
