Repository tensorchord/envd, pull requests merged in 2022-09, with the labels that each got.

#839 fix: Update demo
  README.md
Labels: lgtm, approved

#838 feat(lang): install.python_packages(local_wheels=[])
  envd/api/install/__init__.py
  pkg/lang/frontend/starlark/install/install.go
  pkg/lang/ir/interface.go
  pkg/lang/ir/python.go
  pkg/lang/ir/types.go
Labels: lgtm, approved

#840 fix: Update demo
  README.md
Labels: approved

#841 feat(cli): add msg when detach from container
  pkg/ssh/ssh.go
Labels: lgtm, approved

#850 ci: Switch to use GH_TOKEN env var for auto-merge workflow
  .github/workflows/auto-merge.yml
Labels: lgtm, approved

#853 refact: apt_source, io, config mode
  e2e/cli/testdata/up-test/build.envd
  e2e/docs/testdata/complex/build.envd
  envd/api/config/__init__.py
  envd/api/install/__init__.py
  envd/api/io/__init__.py
  examples/dgl/build.envd
  examples/ianvs/build.envd
  examples/python-basic/build.envd
  examples/streamlit-mnist/build.envd
  pkg/lang/frontend/starlark/config/config.go
  pkg/lang/frontend/starlark/install/const.go
  pkg/lang/frontend/starlark/install/install.go
  pkg/lang/frontend/starlark/io/io.go
  pkg/lang/ir/consts.go
  pkg/lang/ir/interface.go
Labels: lgtm, approved

#855 refact: unify the path env
  pkg/builder/util.go
  pkg/lang/ir/python.go
  pkg/lang/ir/system.go
  pkg/types/envd.go
Labels: lgtm, approved

#837 bug: fix conda install with env file
  e2e/language/testdata/python/conda/env.yaml
  e2e/language/testdata/python/conda/setup.py
  e2e/language/testdata/python/requirements/requirements.txt
  e2e/language/testdata/python/requirements/setup.py
  pkg/lang/frontend/starlark/install/install.go
  pkg/lang/ir/conda.go
  pkg/lang/ir/consts.go
  pkg/lang/ir/interface.go
  pkg/lang/ir/parser/conda.go
  pkg/lang/ir/python.go
  pkg/lang/ir/types.go
Labels: lgtm, approved

#861 refact: io.mount => runtime.mount
  envd/api/io/__init__.py
  envd/api/runtime/__init__.py
  examples/dgl/build.envd
  pkg/home/data.go
  pkg/lang/frontend/starlark/data/rule.go
  pkg/lang/frontend/starlark/io/const.go
  pkg/lang/frontend/starlark/io/io.go
  pkg/lang/frontend/starlark/runtime/const.go
  pkg/lang/frontend/starlark/runtime/runtime.go
Labels: approved

#857 feat: Support HTTP PROXY
  base-images/build.sh
  base-images/python3.9-ubuntu20.04-cuda11.2.Dockerfile
  base-images/python3.9-ubuntu20.04-cuda11.6.Dockerfile
  pkg/app/build.go
  pkg/app/up.go
  pkg/builder/builder.go
Labels: approved

#858 feat(lang): io.http download files to extra_source
  envd/api/__init__.py
  envd/api/io/__init__.py
  examples/download_files/build.envd
  examples/python-basic/build.envd
  pkg/lang/frontend/starlark/io/const.go
  pkg/lang/frontend/starlark/io/io.go
  pkg/lang/ir/compile.go
  pkg/lang/ir/interface.go
  pkg/lang/ir/system.go
  pkg/lang/ir/types.go
  pkg/lang/ir/util.go
Labels: lgtm, approved

#865 fix: Update readme
  README.md
Labels: approved

#880 refact: add envd home path func
  pkg/docker/docker.go
  pkg/lang/frontend/starlark/runtime/runtime.go
  pkg/lang/ir/compile.go
  pkg/lang/ir/conda.go
  pkg/lang/ir/consts.go
  pkg/lang/ir/editor.go
  pkg/lang/ir/git.go
  pkg/lang/ir/python.go
  pkg/lang/ir/shell.go
  pkg/lang/ir/util.go
  pkg/util/fileutil/file.go
Labels: lgtm, approved

#879 chore: shell exit with `set -euo pipefail`
  pkg/lang/ir/compile.go
  pkg/shell/install.sh
Labels: lgtm, approved

#882 bug: Fix detach instruction message
  pkg/ssh/ssh.go
Labels: lgtm, approved

#883 chore: replace starship status symbol to common meanings
  pkg/lang/ir/shell.go
Labels: lgtm, approved

#885 fix: include update repo
  pkg/util/fileutil/file.go
Labels: lgtm, approved

#886 fix(CLI): Fix build output argument and huggingface integration
  pkg/app/build.go
  pkg/lang/frontend/starlark/data/const.go
Labels: lgtm, approved

#888 fix: typo for git config file
  pkg/lang/ir/consts.go
  pkg/lang/ir/git.go
Labels: lgtm, approved

#891 feat: support micromamba as an alternative to miniconda
  pkg/lang/frontend/starlark/config/config.go
  pkg/lang/frontend/starlark/universe/universe.go
  pkg/lang/ir/conda.go
  pkg/lang/ir/install-conda.sh
  pkg/lang/ir/install-mamba.sh
  pkg/lang/ir/interface.go
  pkg/lang/ir/types.go
Labels: lgtm, approved

#900 fix: Fix jupyter in root
  pkg/lang/ir/editor.go
  pkg/lang/ir/editor_test.go
Labels: approved

#909 chore(goreleaser): Skip homebrew
  .goreleaser.yaml
Labels: approved

#916 chore: add logo
  README.md
Labels: lgtm

#859 feat: informative error message
  cmd/envd/main.go
  pkg/builder/builder.go
  pkg/lang/frontend/starlark/config/config.go
  pkg/lang/frontend/starlark/install/install.go
  pkg/lang/frontend/starlark/universe/universe.go
  pkg/util/starlarkutil/stringslice.go
Labels: lgtm, approved

#925 feat(cli): rm image when destroying the env
  e2e/cli/init_test.go
  e2e/cli/quick_start_test.go
  e2e/docs/docs_test.go
  e2e/docs/testdata/complex/build.envd
  e2e/language/python_test.go
  e2e/language/runtime_test.go
  pkg/app/build.go
  pkg/app/destroy.go
Labels: lgtm, approved

#929 chore: use conda-forge as default miniconda channel
  pkg/lang/ir/install-conda.sh
Labels: lgtm, approved

#932 feat: Support envd-server
  e2e/cli/bytecode_hash_test.go
  e2e/e2e_helper.go
  go.mod
  go.sum
  pkg/app/app.go
  pkg/app/destroy.go
  pkg/app/env.go
  pkg/app/env_describe.go
  pkg/app/image.go
  pkg/app/image_describe.go
  pkg/app/k8s.go
  pkg/app/login.go
  pkg/app/pause.go
  pkg/app/resume.go
  pkg/app/run.go
  pkg/app/ssh.go
  pkg/app/top.go
  pkg/app/up.go
  pkg/app/version.go
  pkg/buildkitd/buildkitd.go
  pkg/docker/docker.go
  pkg/docker/label.go
  pkg/envd/docker.go
  pkg/envd/engine.go
  pkg/envd/envdserver.go
  pkg/envd/factory.go
  pkg/home/auth.go
  pkg/home/manager.go
  pkg/types/envd.go
Labels: approved

#941 feat(ir): all in llb
  .github/workflows/release.yml
  .goreleaser.yaml
  base-images/build.sh
  base-images/python3.9-ubuntu20.04-cuda11.2.Dockerfile
  base-images/python3.9-ubuntu20.04.Dockerfile
  base-images/remote-cache/build-and-push-remote-cache.sh
  base-images/remote-cache/build.envd
  pkg/builder/builder.go
  pkg/lang/ir/compile.go
  pkg/lang/ir/interface.go
  pkg/lang/ir/shell.go
  pkg/lang/ir/system.go
  pkg/types/envd.go
Labels: approved

#947 fix: version tag in build.sh
  base-images/build.sh
  base-images/julia1.8rc1-ubuntu20.04.Dockerfile
  base-images/r4.2.Dockerfile
Labels: lgtm, approved

#940 chore: add py3.11
  setup.py
Labels: lgtm, approved

#952 chore: add envd/py/ipynb linter, reformat the current files
  .github/workflows/envd-lint.yml
  Makefile
  base-images/remote-cache/build.envd
  e2e/cli/testdata/custom-image-test/build.envd
  e2e/cli/testdata/quick-start/build.envd
  e2e/cli/testdata/quick-start/demo.py
  e2e/cli/testdata/up-test/build.envd
  e2e/docs/testdata/complex/build.envd
  e2e/docs/testdata/getting_started/build.envd
  e2e/docs/testdata/jupyter/build.envd
  e2e/docs/testdata/minimal/build.envd
  e2e/language/testdata/python/conda/build.envd
  e2e/language/testdata/python/conda/setup.py
  e2e/language/testdata/python/hybrid/build.envd
  e2e/language/testdata/python/packages/build.envd
  e2e/language/testdata/python/requirements/setup.py
  e2e/language/testdata/run/build.envd
  e2e/language/testdata/runtime/build.envd
  e2e/language/testdata/runtime/demo.py
  examples/conda/build.envd
  examples/custom-image/build.envd
  examples/dgl/build.envd
  examples/dgl/train.py
  examples/ianvs/build.envd
  examples/julia-basic/build.envd
  examples/mnist/build.envd
  examples/mnist/mnist.ipynb
  examples/python-basic/build.envd
  examples/r-basic/build.envd
  examples/streamlit-hello/build.envd
  examples/streamlit-mnist/app.py
  examples/streamlit-mnist/build.envd
  examples/streamlit-mnist/train.ipynb
  pkg/app/template/julia.envd
  pkg/app/template/r.envd
  pkg/lang/frontend/starlark/testdata/test.envd
  setup.py
Labels: approved

#954 feat: envd-sshd can read public key path from environment variable
  cmd/envd-sshd/main.go
  pkg/lang/ir/compile.go
Labels: approved
