Repository tensorchord/envd, pull requests merged in 2022-08, with the labels that each got.

#769 proposal: daemon process
  docs/proposals/20220812-daemon-service.md
Labels: type/enhancement 💭, type/feature 💡, type/discussion 🧵

#803 chore: fix e2e cleanup by introduce new helper function ResetEnvdApp
  e2e/build_test.go
  e2e/context_test.go
  e2e/e2e_helper.go
  e2e/get_env_test.go
  e2e/up_test.go
Labels: lgtm

#807 chore: Add markdown link checks
  .github/workflows/auto-merge.yml
  .github/workflows/changelog.yaml
  .github/workflows/link-check.yml
  README.md
  ROADMAP.md
Labels: approved

#808 feat(lang): support include other git repo for envd functions/variables
  examples/include_pkg/build.envd
  pkg/lang/frontend/starlark/interpreter.go
  pkg/lang/frontend/starlark/universe/const.go
  pkg/lang/frontend/starlark/universe/universe.go
  pkg/util/fileutil/file.go
Labels: lgtm, approved

#817 doc: add include, refine others
  envd/api/__init__.py
  envd/api/runtime/__init__.py
Labels: approved

#822 feat(build): Mount local build context into the run command
  e2e/python_test.go
  e2e/testdata/python/hybrid/build.envd
  e2e/testdata/python/hybrid/requirements.txt
  e2e/testdata/python/packages/build.envd
  e2e/testdata/python/requirements/build.envd
  e2e/testdata/python/requirements/requirements.txt
  e2e/testdata/run/build.envd
  examples/ianvs/build.envd
  pkg/builder/builder.go
  pkg/lang/frontend/starlark/install/install.go
  pkg/lang/ir/cache.go
  pkg/lang/ir/compile.go
  pkg/lang/ir/consts.go
  pkg/lang/ir/interface.go
  pkg/lang/ir/python.go
  pkg/lang/ir/system.go
  pkg/lang/ir/types.go
  pkg/lang/ir/util.go
Labels: lgtm, approved

#823 test: enable e2e documentation test in CI
  .github/workflows/CI.yml
  Makefile
  e2e/docs/docs_test.go
Labels: lgtm, approved

#824 chore: Split e2e test cases
  .github/workflows/CI.yml
  Makefile
  e2e/cli/build_test.go
  e2e/cli/bytecode_hash_test.go
  e2e/cli/context_test.go
  e2e/cli/get_env_test.go
  e2e/cli/quick_start_test.go
  e2e/cli/suite_test.go
  e2e/cli/testdata/build-test/build.envd
  e2e/cli/testdata/custom-image-test/build.envd
  e2e/cli/testdata/quick-start/build.envd
  e2e/cli/testdata/quick-start/demo.py
  e2e/cli/testdata/up-test/build.envd
  e2e/cli/up_test.go
  e2e/e2e_helper.go
  e2e/language/python_test.go
  e2e/language/runtime_test.go
  e2e/language/suite_test.go
  e2e/language/testdata/python/hybrid/build.envd
  e2e/language/testdata/python/hybrid/requirements.txt
  e2e/language/testdata/python/packages/build.envd
  e2e/language/testdata/python/requirements/build.envd
  e2e/language/testdata/python/requirements/requirements.txt
  e2e/language/testdata/run/build.envd
  e2e/language/testdata/runtime/build.envd
  e2e/language/testdata/runtime/demo.py
  pkg/lang/ir/parser/python.go
Labels: approved

#829 bug: fix permission issue when pip install from git repo
  pkg/lang/ir/python.go
Labels: lgtm, approved

#827 feat(lang): init py env by generating the bulid.envd
  e2e/cli/init_test.go
  pkg/app/init.go
  pkg/app/template/python.envd
Labels: approved

#832 fix(lang): expose host port
  envd/api/runtime/__init__.py
  pkg/lang/frontend/starlark/runtime/runtime.go
Labels: approved

#831 bug: fix channels when use conda install with yaml file
  e2e/language/python_test.go
  e2e/language/testdata/python/conda/build.envd
  e2e/language/testdata/python/conda/env.yaml
  pkg/lang/ir/interface.go
  pkg/lang/ir/parser/conda.go
Labels: lgtm, approved
